Seiten:
Splash
	Einrichtung
	- erklärung der passwort freischaltung
	-> Zur ersten Seite (klasse hinzufügen -> muss ausgefüllt sein)
	
	Vertretungsseite
	- vertretungen aufgelistet und auswahl für tages

	Einstellungen
	- Benachrichtigungen ausstellen

	Klassenübersicht
	- Übersicht in welchen Klasen/Stufen man sich eingeloggt hat
		-> Ausloggen und Hinzufügen


-------------------------------------------------------------------------

Deutsch: #2e7d32
Mathe: #0277bd
Englisch: #d32f2f
Geschichte: #689f38
Erdkunde: #9e9d24
Politik: #f4511e
Sozialwissenschaften: #f4511e
Physik: #ffeb3b
Chemie: #d81b60
Biologie: #1b5e20
Musik: #2196f3
Französisch: #4a148c
Diverenzierung: #ffa000

https://lh5.googleusercontent.com/tf5oXbpQ5oCgamELFp6mXbTOfVrlM7lITYYzHbKOGTi4EiRF4CKUqlphuwzz9e2w8tcDLxc17YBSArQY_-aa4ouY-LFjU7J9Nj0L2z-1vIbvA0A9s3xGlTPMRCyzPkHtQuQyU0sG
https://github.com/jonataslaw/getx


Orientierung:
https://dribbble.com/tags/app_ui
	
